@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body{
    margin: 0 auto;
    max-width: 1440px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero-text{
    font-family: Poppins, sans-serif;
    width: 550px;
}
.hero-text-title{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 38px;

}
.hero-text-subtitle{
    font-size: 38px;
    margin-bottom: -25px;
    color: hsl(234, 12%, 34%);
    font-weight: 200;

}
.hero-text-descr{
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    display: inline-flex;
    margin-bottom: 50px;
}
.card{
    border-radius: 15px;
    width: 450px;
    height: 300px;
    text-align: left;
    padding: 20px 40px;
    box-sizing: border-box;
    padding-right: 55px;
}
.card1{
    border-top: 8px solid hsl(180, 62%, 55%);
}
.card2{
    border-top: 8px solid hsl(0, 78%, 62%);
}
.card3{
    border-top: 8px solid hsl(34, 97%, 64%);
}
.card4{
    border-top: 8px solid hsl(212, 86%, 64%);
}
.card-shadow{
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;
}
.card-top-shadow{
    border-radius: inherit;

}
.col-cards{
    margin: 20px 40px;
}
.col-cards .card{
    margin-bottom: 40px;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Poppins, sans-serif;
}
.cards h2{
    color: hsl(234, 12%, 34%);
    font-weight: 600;

}
.cards p{
    color: hsl(229, 6%, 66%);
    font-weight: 200;
}
.card-icon{
    padding-left: 300px;
    padding-top: 20px;
}
/*media*/
@media (max-width: 1450px){
    .cards{
        flex-direction: column;
    }
    .card1{
        margin-bottom: inherit;
    }
    .col-cards{
        margin-bottom: 0;
        margin-top: 40px;
    }
}
@media (max-width: 545px) {
    .hero-text-title{
        font-size: 28px;
    }
    .hero-text-subtitle{
        font-size: 28px;
    }
    .hero-text{
        width: 350px;
    }
    .card{
        width: 350px;
        height: 280px;
    }
    .col-cards{
        padding: 0;
    }
    .card-icon{
        padding-left: 220px;
        padding-top: 10px;
    }
    .card1, .card3{
        padding-top: 30px;
    }

}